body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root .col {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
}

.navbar {
  margin: 0 0 30px 0;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  position: fixed;
  left: 0;
  top: 0;
}


.btn.fixed {
  position: fixed;
  right: 20px;
  top: 20px;
}

.btn.fixed.right-175 {
  right: 175px;
}

.alert-fixed {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 9999;
}


/* General table with DIV element */
.table {
  display: table;
  border-collapse: collapse;
  width: auto !important;
}

.table .row {
  display: table-row;
}

.table .header {
  font-weight: bold;
}

.table .row div {
  display: table-cell;
  border: 1px solid #ccc;
  padding: 5px;
  width: auto !important;
}