body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin-top: 20px;
}

#root .col{
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
}


.modal .bg{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  position: fixed;
  left: 0;
  top: 0;
}

.btn.fixed{
  position: fixed;
  right: 20px;
  top: 20px;
}