@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Light.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Black.ttf');
	font-weight: 900;
}

body {
	margin: 0;
	font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	margin: 80px 0 0;
}

#root .menu-button {
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 100;
}

#root .back-link {
	text-decoration: none;
	width: max-content;
	margin-top: 0;
}

#root .back-link::before {
	content: '👈';
	font-size: 20px;
	position: relative;
	left: 0;
	transition: 0.3s;
}

#root .back-link:hover::before {
	left: -10px;
}

#root .col {
	border: 1px solid black;
	box-sizing: border-box;
	padding: 20px;
}

.navbar {
	margin: 0 0 30px 0;
}

.modal .bg {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
}

.fixed-element {
	position: fixed;
	right: 20px;
	top: 20px;
	display: flex;
	align-items: center;
}
.fixed-element .btn:not(:last-of-type) {
	margin-right: 12px;
}

.alert-fixed {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: 9999;
}

.offcanvas .menu {
	margin: 0 0 0 0;
	padding: 0;
}
.offcanvas .menu li {
	list-style: none;
	line-height: 40px;
	text-align: center;
}
.offcanvas .menu li a {
	text-decoration: none;
	color: #343a40;
	font-size: 20px;
	position: relative;
}
.offcanvas .menu li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #343a40;
	transition: 0.3s;
}
.offcanvas .menu li a:hover:after {
	width: 100%;
}

.group-controll .list-group-item {
	padding: 0;
}
.group-controll .list-group-item a {
	padding: 5px 15px;
	display: block;
}
.group-controll .list-group-item button {
	padding: 5px 7px;
}
.group-controll .list-group-item button svg {
	width: 20px;
	height: 20px;
}

.custom-btn {
	border: none;
	background-color: initial;
}

/* General table with DIV element */
.table {
	display: table;
	border-collapse: collapse;
	width: auto !important;
}

.container input.form-control {
	padding: 0.375rem 0.375rem;
}

.table .row {
	display: table-row;
}

.table .header {
	font-weight: bold;
}

.table .row div {
	display: table-cell;
	border: 1px solid #ccc;
	padding: 5px;
	width: auto !important;
}

.list-group-item a {
	text-decoration: none;
	color: #343a40;
	font-weight: 700;
}

.list-group-item a:hover {
	color: initial;
}

.list-group-item {
	transition: 0.3s;
}

.list-group-item:hover {
	background-color: #cfe2ff;
	cursor: pointer;
}

.group-controll {
	margin: 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.controllers {
	padding: 10px;
	border: 1px solid #cbcbcb;
	box-sizing: border-box;
	width: max-content;
	display: flex;
	align-items: center;
}

.controllers form {
	display: flex;
	gap: 20px;
}

.controllers form div {
	display: flex;
	gap: 10px;
	align-items: center;
}

.controllers form div label {
	width: max-content;
	margin: 0;
}

.controllers form .form-select {
	width: auto;
}

.controllers form button {
	margin: 0 0 0 10px;
}

.mr-1 {
	margin-right: 10px;
}
.multi_select_container {
	max-width: 75px;
}
.multi_select__control {
	cursor: pointer !important;
}
.multi_select__indicators {
	display: none !important;
}
.multi_select__value-container {
	padding: 2px !important;
}
.multi_select__multi-value__label {
	padding: 3px !important;
	font-size: 80% !important;
}
.multi_select__value-container input {
	height: 1px;
}
.multi_select__menu,
.multi_select__placeholder {
	font-size: 11px;
}

.width600 {
	max-width: 600px;
}
.custom_close {
	display: flex;
	align-items: center;
	justify-content: center;
}
.custom_close .btn-close {
	background-size: 10px;
}

@media print {
	#root {
		margin: 0;
	}

	.container {
		width: 100% !important;
		margin: 0 !important;
	}

	.menu-button,
	.back-link {
		display: none !important;
	}

	@page {
		size: auto;
		/* auto is the initial value */
		margin: 0;
		padding: 0;
	}
}
